.Post__container h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 110%;
  text-align: center;

  color: #1d2130;
}
.content__post {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 5%;
  grid-auto-rows: minmax(1000x auto);
}
.content__post.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
}

.content__post.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.content__post.container {
  padding: 2px 16px;
}
.content__post img {
  border-radius: 5px 5px 0 0;
}
.content__post p {
  padding: 1rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  color: var(--nine);

  opacity: 0.87;
}
.content__post h4 {
  padding: 1rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  /* or 34px */

  /* Primary */

  color: var(--nine);
}

@media (max-width: 700px) {
  .content__post {
    grid-template-columns: 1fr;
    gap: 0%;
  }
}
