@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=Nunito:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Syne:wght@600&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500&family=Nunito:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Syne:wght@600&display=swap');
 
  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Mulish:wght@400;500&family=Nunito:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Syne:wght@600&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Mulish:wght@400;500&family=Nunito:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Syne:wght@600&display=swap');

.grid_containerservice{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-auto-rows: minmax(100px auto);
  /* gap: 5%; */
  margin-left: 8rem;
}
.grid__heading{
  display: grid;
  grid-template-columns: 30% 65%;
  grid-auto-rows: minmax(100px auto);
}
.smallservice{
  color: #1C2752;
font-family: Inter;
font-size: 19px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 4rem;
}
.serviceheading{
  color: #1C2752;
text-align: center;
font-family: Mulish;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.paragrap {
  width: 687px;
  color: #7E7E7E;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 21rem;
}
.New-imgs{
  width: 100%;
}
.card-footer {
  background-color: aqua;
  display: flex;
  justify-content: flex-end;
}

.plus-icon {
  font-size: 1.5em;
}
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s ease-in-out;
    margin: 10px;
    max-width: 300px; 
  

  }
  
  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .home-service p{
    color: #7E7E7E;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .card img {
    width: 114.9%;
    margin-left: -1.25rem;
    margin-top: -1.3rem;
    height: auto;
    border-radius: 8px
  }
  .card-footerblog{
    display: flex;
    /* display: grid;
    grid-template-columns: 40% 40%; */
  }
  .card-content {
    padding-top: 10px;
  }
  .plusssecond img{
    margin-left: 3.3rem;
    width: 5rem;
    /* margin-top: 0rem; */
    margin-bottom: -4.8rem;
    margin-right: -1.4rem;
  }
  .pluss img{
    margin-left: 3.3rem;
    width: 5rem;
    /* margin-top: 0rem; */
    margin-bottom: -1.8rem;
    margin-right: -1.4rem;
  }
  .card-title {
    
    color: #1C2752;
    text-align: center;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .card-description {
    
    text-align: left;
    color: #7E7E7E;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  @media screen and (max-width: 700px) {
    .grid_containerservice{
      grid-template-columns: 1fr;
      margin-left: 0rem;
    }
    .grid__heading{
      grid-template-columns: 1fr;
    }
    .paragrap{
      margin-left: 0remrem;
    }
    .New-imgs {
      width: 100%;
      height: 18rem;
    }
   
    /* .circles {
      margin-top: 2rem;
      display: none;
  } */
  }
  @media (min-width: 1920px) and (max-width: 2560px) {
    .grid_heading p {
     
      margin-left: 37rem;}
      .process p {
        margin-left: 34rem;
      }
  }