:root {
  --secondary: #333333;
  --thrid: #00c5df;
}
.main__content {
  display: grid;
  grid-template-columns: 40% 45% 15%;
  gap: 0%;
  grid-auto-rows: minmax(300px auto);
}
.main__content p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 53px;
  line-height: 140%;

  color: var(--secondary);
}
hr {
  border-top: 1px solid black;
}
.hr__div {
  padding-top: 4rem;
}
.right p {
  margin-top: 10rem;
  -webkit-transform: rotate(90deg);
  transform: rotate(270deg);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */

  /* Grayscale/50 */

  color: #333333;
}
/*---------------------------- section Two css======================== */
.image__content ul {
  position: relative;
  z-index: 4;
  list-style: none;
  background-color: var(--thrid);
  padding: 1rem;
  text-align: center;
}
.image__content {
  display: grid;
  grid-template-columns: 50% 20%;
  gap: 10%;
  grid-auto-rows: minmax(400px auto);
}
.image__content li p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;

  color: #ffffff;
}
.image__content li h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  color: #ffffff;
}
.banner__image {
  position: relative;
  z-index: 2;
  margin-top: -23rem;
}
.image__content ul {
  margin-top: -8rem;
}

/* Media Quary */
@media (max-width: 700px) {
  .image__content ul {
    z-index: 0;
  }
  .main__content {
    grid-template-columns: 1fr;
  }
  .hr__div {
    padding: 0rem;
  }
  .main__content p {
    font-size: 32px;
  }
  .right p {
    font-size: 20px;
    margin-left: 15rem;
    margin-top: 2rem;
  }
  .image__content {
    grid-template-columns: 10% 65%;
  }
  .image__content li p {
    font-size: 18px;
  }
  .image__content li h6 {
    font-size: 11px;
  }
  .banner__image {
    position: relative;
    z-index: -13;
    margin-top: -7rem;
    width: 26rem;
    margin-left: -4rem;
  }
}
