.Bcontact__container {
  padding: 7rem;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 2%;
  grid-auto-rows: minmax(200px auto);

  align-items: center;
  position: relative;
  z-index: 5;
}

.Header__business__contact {
  padding-top: 5rem;
  text-align: center;

  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 41px;
  text-align: center;

  color: #1e1e1e;
}
.image-header {
  position: absolute;
  text-align: center;
  margin-left: 2rem;
  margin-top: 21rem;
}

.image-header {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}
.image__paragraph {
  position: absolute;
  text-align: center;
  margin-left: 2rem;
  margin-top: 23rem;
}
.image__paragraph {
  font-family: "Krub";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 151.52%;

  color: #00c5df;
}
.contact-container {
  display: grid;
  grid-template-columns: 80% 10%;
  gap: 10%;
  grid-auto-rows: minmax(200px auto);
  margin-top: 13rem;
}
.ContactB__container {
  height: 20rem;
  width: 84.3rem;
  margin-left: -4rem;
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 10%;
  grid-auto-rows: minmax(200px auto);
  background-color: var(--thrid);
  margin-top: -12rem;
  position: relative;
  z-index: 1;
  color: #ffffff;
}
.contact-container button {
  border-color: transparent;
  position: absolute;
  width: 194px;
  height: 60px;
  transition: all 0.5s;
  cursor: pointer;
  background: #ffffff;
}
.contact-container button p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 135.02%;

  color: var(--thrid);
}
/* Anmiated Button */

.contact-container button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.contact-container button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.contact-container button :hover span {
  padding-right: 25px;
}

.contact-container button :hover span:after {
  opacity: 1;
  right: 0;
}
@media (max-width: 700px) {
  .Bcontact__container {
    grid-template-columns: 1fr;
    gap: 5%;
    padding: 0rem;
  }
  .contact-container {
    grid-template-columns: 1fr;
    gap: 0%;
    margin-top: 0rem;
  }
  .ContactB__container {
    height: 20rem;
    width: 26.3rem;

    margin-top: 4rem;
  }
  .contact-container button {
    margin-left: 8rem;
  }
}
