.Solution-Our-service {
  display: grid;
  grid-template-rows: 80%;
  grid-auto-rows: minmax(100px auto);
  z-index: 1;
  position: relative;
  /* background-image: url(/src/Asset/servicebanner.jpg); */
  /* position: relative;
    z-index: 10; */
  /* padding: 3rem;
    margin-top: -35rem;
    width: 38rem; */
}

.Solution-Our-service h1 {
  position: absolute;
  color: #fff;
  font-family: Mulish;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  /* z-index: 20; */
  margin-top: -12rem;
  margin-left: 11rem;
  /* height: 20rem;
  width: 30rem;
  background-image: url(/src/Asset/servicebanner.jpg); */
}
.service-imgs {
  width: 100%;
}
.Solution-Our-service h5{
  position: absolute;
  color: var(--Style, #00C5DF);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: -7rem;
  margin-left: 11rem;
}
.Solution-Our-service h6{
  position: absolute;
  color: #fff;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: -7rem;
  margin-left: 15rem;
}
@media screen and (max-width: 700px) {
  .Solution-Our-service {
    grid-template-columns: 1fr;
  }
  .service-imgs {
    width: 105%;
    height: 91px;
  }
  .Solution-Our-service h6 {
    font-size: 15px;
    margin-top: -2rem;
    margin-left: 6rem;
  }
  .Solution-Our-service h5 {
    position: absolute;
    color: var(--Style, #00C5DF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: -2rem;
    margin-left: 2rem}
    .Solution-Our-service h1 {
      margin-top: -5rem;
      margin-left: 2rem;
      font-size: 31px;
  }
}
