@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

.main__image {
  background-repeat: no-repeat;
  width: 110.5%;
  margin-left: -4rem;
  height: 25rem;

  background-size: cover;
  background-position: center;

  position: relative;
}
.main__image h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 140%;
  /* or 78px */
  padding: 3rem;
  padding-top: 14rem;
  color: #ffffff;
}
.service__main {
  display: grid;
  grid-template-columns: 40% 5% 40%;
  gap: 5%;
  grid-template-rows: minmax(200px auto);
  margin-top: 5rem;
}
.services__hr {
  transform: rotate(90deg);
  align-self: center;
  width: 17rem;
  margin-left: -7rem;
}
.service__main h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 52px;

  letter-spacing: -0.45px;

  color: #1b1b1b;
}
.service__text p {
  font-family: "Sarabun";
  font-style: normal;
  font-weight: 400;
  margin-top: -2rem;
  font-size: 18px;
  line-height: 26px;

  color: #5b5b5b;
}
.Sol__Accordion {
  margin-top: 2rem;
}
.All__text__Acc p {
  font-family: "Sarabun";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;

  align-items: center;
  letter-spacing: -0.22px;

  color: #1b1b1b;
}
.icons-dot {
  height: 29px;
  width: 34px;
  color: white;
  background-color: #00c5df;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  padding-top: 4px;
}
.serv__plan {
  padding-top: 5rem;
}
.one__hr {
  margin-left: -7rem;
}
.service__text {
  margin-top: -2rem;
}
@media (max-width: 700px) {
  .service__main {
    grid-template-columns: 1fr;
  }
  .main__image {
    grid-template-columns: 1fr;
    width: 26rem;
  }
  .main__image h1 {
    padding-top: 17rem;
    font-size: 35px;
  }
  .service__main h1 {
    font-size: 36px;
  }
  .service__main .Sol__Accordion {
    margin-top: 5rem;
  }
  .services__hr {
    display: none;
  }
  .one__hr {
    display: none;
  }
}
