.Services__Second {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  gap: 7%;
  grid-template-rows: minmax(200px auto);
  margin-top: 5rem;
}
.services-second-images {
  width: 3rem;
}
.Services__Second h6 {
  font-family: "Sarabun";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 0px;
  letter-spacing: -0.22px;

  color: #1b1b1b;
}
.Services__Second p {
  font-family: "Sarabun";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;

  color: #5b5b5b;
}
@media (max-width: 700px) {
  .Services__Second {
    grid-template-columns: 1fr;
  }
}
