.Service__number {
  display: grid;
  grid-template-columns: 20% 15% 50%;
  gap: 5%;
  grid-template-rows: minmax(200px auto);
  margin-top: 6rem;
  margin-bottom: 9rem;
}
.ser__hr {
  transform: rotate(90deg);
  align-self: center;
  width: 47rem;
  margin-left: -14rem;
  margin-top: 6rem;
}
.sub__number {
  display: grid;
  grid-template-columns: 20% 45% 7%;
  gap: 13%;
  grid-template-rows: minmax(100px auto);
}
.sub__number h1 {
  font-family: "Sarabun";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 72px;

  align-items: center;
  letter-spacing: -0.65px;

  color: #1b1b1b;
}
.sub__number p {
  font-family: "Sarabun";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */

  display: flex;
  align-items: center;

  color: #5b5b5b;
  padding-top: 2.3rem;
}
.plus__img {
  padding-top: 3.3rem;
}
.new__section {
  margin-top: -4rem;
}
.para__row {
  margin-top: -1rem;
}
.new__plus {
  margin-top: -4rem;
}
@media (max-width: 700px) {
  .Service__number {
    grid-template-columns: 1fr;
    margin-top: 14rem;
  }
  .ser__hr {
    display: none;
  }
  .sub__number {
    grid-template-columns: 8% 46% 10%;
    gap: 24%;
  }
  .sub__number h1 {
    font-size: 35px;
  }
  .sub__number p {
    font-size: 16px;

    padding-top: 1.3rem;
  }
}
