.whyus__image {
  background-size: cover;
  margin-top: 9rem;
  position: relative;
  z-index: 2;
  margin-left: -4rem;
}
.White__header {
  padding: 2rem;
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 10%;
  grid-template-rows: minmax(400px auto);
  background-color: white;
  position: relative;
  z-index: 5;
  margin-top: -8rem;
}
.White__header p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 41px;

  color: #1c1f35;
}
.White__header h6 {
  font-family: "Krub";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 151.52%;
  /* or 24px */

  color: #666c89;
}
.second-row {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 0%;
  grid-auto-rows: minmax(200px auto);
  background-color: white;
  position: relative;
  z-index: 20;
}
.plane__image {
  position: relative;
  z-index: 3;
}
.whole__rows {
}
.icon-grid {
  display: grid;
  grid-template-columns: 15% 80%;
  gap: 5%;
  grid-auto-rows: minmax(100px auto);
}
.icon__images {
  margin-top: 1rem;
}
.icon-grid p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;

  color: #1c1f35;
}
/* ==== */
.about__number__container {
  display: grid;
  grid-template-columns: 45% 10% 45%;
  gap: 0%;
  grid-auto-rows: minmax(100px auto);
}
.first__number__container {
  display: grid;
  grid-template-columns: 20% 5% 40%;
  gap: 10%;
  grid-template-rows: minmax(200px auto);
}
.first__number__container p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 59px;

  color: #1c1f35;
}
.hr__about {
  transform: rotate(90deg);
  align-self: center;
}
.about__number__container h6 {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 50px;

  color: #1c1f35;
}
.pattern__image {
  padding-top: 4rem;
}
.whyus__image {
  width: 109.5%;
  height: "31rem";
}
@media (max-width: 700px) {
  .White__header {
    grid-template-columns: 1fr;
    gap: 0%;
  }
  .whyus__image {
    width: 145.5%;
    margin-left: -4rem;
    height: 15rem;
    background-repeat: no-repeat;
  }
  .icon__images {
    margin-top: 2rem;
    /* width: 7rem; */
    margin-left: -1rem;
  }
  .first__number__container {
    grid-template-columns: 40% 15% 50%;
    gap: 5%;
  }
  .about__number__container {
    grid-template-columns: 1fr;
  }
  .hr__about {
    transform: rotate(180deg);
    align-self: center;
  }
}
